body {
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
p {
    background-color: rgb(246, 147, 147);
    color: red;
    width: 100%;
    height: 45px;
    
}
textarea {
    resize: none;
}